# ---------------------------------------------------------------------------

# Local ".terraform" Directories:
**/.terraform/*

# ".tfstate" Files:
*.tfstate
*.tfstate.*

# Crash Log Files:
crash.log

# ---------------------------------------------------------------------------